<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
            <a href="./chris@chdd.co.uk.asc">A204 B3EF B4C2 7C10 2469 3044 4746 7F1A A5C1 8165</a>
        </ul>
    </div>

  </div>

</footer>
